body {
    background: #131313;
    margin: 0;
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
    white-space: nowrap;
}

body * {
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto; 

}

.section-projects {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 783;
    margin: 107px 0px 125px;
}

.section-projects__left-part {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 442px;
    margin-top: 70px;
}

.subtitle  {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0px;
}

.subtitle__text {
    font-family: 'Yeseva One', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0px;
}

.subtitle__line {
    position: relative;
    margin-top: 38px;
}

.section-projects__left-part .p-general {
    margin: 34px 0px 0px ;
}

.p-general {
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.section-projects__left-part .slider__text {
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 75px;
    row-gap: 34px;
    margin: 42px 90px 0px 0px;
}

.slider__text .subtitle__text {
    font-size: 18px;
    line-height: 25px;
}

.slider__panel {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 122px;
    margin: 95px 0px 0px;
}

.arrow-left, .arrow-right {
    cursor: pointer;
    height: 14px;
    width: 42px;
}

.arrow-left:hover, .arrow-right:hover {
    transform: scale(1.04);
}

.slider__dots {
    cursor: pointer;
    position: relative;
    display: flex;
    margin: 2px 18px;
}

.section-projects__right-part {
    position: relative;
    width: 680px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 50px;
}

.slider__nav__item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.3);
  }
 
.slider__nav__item a:hover, .slider__nav__item.active>a {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: #e3b873;
}

.slider__nav__item a:hover {
    transform: scale(1.02);
}

.p-general__text {
    font-family: 'Nunito Sans', 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400; 
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0;
    position: absolute;
    margin-top: 10px;
}

.p-general__text.active {
    opacity: 1;
}

.slider__images {
    margin: 0px;
    margin-top: 40px;
    width: 680px;
    height: 482px;
}

.slider__images .image {
    background-position: center;
    width: 680px;
    height: 482px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider__images .image.active {
    position: absolute;
    border: none;
    opacity: 1;
}

.slider__dots{
    display: flex;
    width: 80px;
    justify-content: space-around;
}

.slider__dots-item {
    width: 10px;
    height: 10px;
    background:#FFFFFF4D;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.slider__dots-item:hover, .slider__dots-item.active {
    background:#FFFFFF;
 }